<hr />
<div class="alert-danger form-group">
    <p style="margin:0">{{errorHead}}</p>
    <p style="margin:0" ng-repeat="message in errorMessage">&emsp;&emsp;&bull;&emsp;{{message}}</p>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Week Day</label>
    <div class="col-md-10">
        <select class="form-control"
                ng-options="weekDay.Key as weekDay.Value for weekDay in weekDays"
                ng-model="schedule.WeekDay"
                required></select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Beginning Time</label>
    <div class="col-md-10">
        <select class="form-control"
                name="beginningTime"
                ng-options="time.name as time.value for time in timeRange"
                ng-model="schedule.BeginningTime"
                required></select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Ending Time</label>
    <div class="col-md-10">
        <select class="form-control"
                name="endingTime"
                ng-options="time.name as time.value for time in timeRange"
                ng-model="schedule.EndingTime"
                required></select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Course</label>
    <div class="col-md-10">
        <select class="form-control"
                name="courses"
                ng-options="course.ID as displayCourse(course) for course in courses"
                ng-model="schedule.CourseID"
                required></select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Classroom</label>
    <div class="col-md-10">
        <select ng-options="classroom.ID as displayClassroom(classroom) for classroom in classrooms"
                ng-model="schedule.ClassroomID"
                class="form-control" required></select>
    </div>
</div>

<table class="table" my-start-waiting>
    <thead>
        <tr>
            <th>
                <input type="checkbox"
                       name="checkAll"
                       ng-model="checkedAll"
                       ng-click="checkAllVisibleStudents(visibleStudents)"
                       style="top:0" />Check all
            </th>
            <th>
                <p ng-click="orderBy('FirstName')">
                    First Name
                </p>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.FirstName"
                       placeholder="Free Search"
                       style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
            </th>
            <th>
                <p ng-click="orderBy('LastName')">
                    Last Name
                </p>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.LastName"
                       placeholder="Free Search"
                       style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
            </th>
            <th>
                <p ng-click="orderBy('BirthDate')">
                    Birth Date
                </p>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.BirthDate"
                       placeholder="Free Search"
                       style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
            </th>
            <th>
                <p ng-click="orderBy('Email')">
                    Email Address
                </p>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.Email"
                       placeholder="Free Search"
                       style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
            </th>
            <th>
                <p ng-click="orderBy('PhoneNumber')">
                    Phone Number
                </p>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.PhoneNumber"
                       placeholder="Free Search"
                       style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="student in visibleStudents = (students | orderBy:propertyName:reverse | filter:searchTerm)"
            my-test-end-waiting>
            <td class="editor-field">
                <div class="form-group">
                    <input type="checkbox"
                           checklist-value="student.Id"
                           checklist-model="schedule.Students">
                </div>
            </td>
            <td>{{student.FirstName}}</td>
            <td>{{student.LastName}}</td>
            <td>{{student.BirthDate}}</td>
            <td>{{student.Email}}</td>
            <td>{{student.PhoneNumber}}</td>
        </tr>
    </tbody>

</table>
