@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-horizontal"
     ng-app="schedule"
     ng-controller="schedulesController"
     ng-init="getSchedules(); getWeekDays()">
    <table class="table" ng-start-waiting>
        <thead>
            <tr>
                <th ng-click="orderBy('Classroom.Name')">
                    Classroom
                </th>
                <th ng-click="orderBy('Course')">
                    Course
                </th>
                <th ng-click="orderBy('Teacher.LastName')">
                    Teacher
                </th>
                <th ng-click="orderBy('WeekDay')">
                    Week Day
                </th>
                <th ng-click="orderBy('BeginningTime')">
                    Beginning Time
                </th>
                <th ng-click="orderBy('EndingTime')">
                    Ending Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="schedule in schedules | orderBy:propertyName:reverse" ng-test-end-waiting>
                <td>
                    {{schedule.Classroom}}
                </td>
                <td>{{schedule.SubjectName}}</td>
                <td>{{schedule.TeacherName}}</td>
                <td>{{schedule.WeekDay}}</td>
                <td>{{schedule.BeginningTime}}</td>
                <td>{{schedule.EndingTime}}</td>
                <td>
                    <a href="/Schedules/Edit/{{schedule.ID}}">Edit</a> |
                    <a href="/Schedules/Details/{{schedule.ID}}">Details</a>
                    <span ng-show="schedule.IsDeletable">
                        |
                        <a href="/Schedules/Delete/{{schedule.ID}}">Delete</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularschedules")
}
