@model LMS_Project.Models.LMS.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.UserName?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" name="submitButton" value="yes">Delete</button>
            <button type="submit" name="submitButton" value="no">Cancel</button>
            @Html.Hidden("id", Model.Id)
        </div>
    }
</div>
