@model LMS_Project.Models.LMS.User

@{
    ViewBag.Title = "Reinit Password";
}

<h2>Are you sure you want to reinitialise the password for @Model.UserName?</h2>
<hr />

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" name="submitButton" value="yes" class="btn btn-default">Yes!</button>
            <button type="submit" name="submitButton" value="no" class="btn btn-default">No</button>
            @Html.Hidden("id", Model.Id)
        </div>
    }
</div>

<p>
    @Html.ActionLink("Back to Users", "Index")
</p>