body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.newsHead {
    text-align: center;
    margin-left: -6.5em;
}

.waiting {
    cursor: wait;
}

.round {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.round-in-table {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-weight: normal;
}

.search {
    position: relative;
    width: 230px;
    height: 30px;
}