body {
    margin: 25px 0 100px; /* bottom = footer height */
    padding: 25px;
}

p {
    margin:20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.newsHead {
    text-align: center;
    margin-left: -6.5em;
}

.waiting {
    cursor: wait;
}

.round {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.news {
    padding-bottom:10px;
    color:#fff;
    padding-bottom:20px;
    
}

.news-post {
    border-top: 5px solid #000;
    padding:20px
}
.news-post:last-child {
    border-bottom: 5px solid #000;
    
}
.postDate {
    border-right: thick solid #000;
    margin-left: 0;
    border-bottom: 0;
    margin-right: 27px;
    font-size:18px;
    width:150px;
}


.news-title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 164px;
    margin-top: -25px;
}

.news-content {
    font-size: 1.2em;
    color:#fff;
    padding-bottom: 40px;
    
    padding:28px;
}
.news-content a {
    float:right;
    
    
    
}
.news-post:hover {
    background-color: rgba(30, 36, 41, 0.5);
}


.publisher {
    float:right;
    padding-top:10px;

}

/*Read more*/
.readMore{
    padding-bottom:70px;
}



body::after {
    background: url('img/learning.jpg') no-repeat;
    background-size: cover;
    background-position: 100%;
    content: "";
    opacity: 0.6;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.round {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.round-in-table {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-weight: normal;
}

.search {
    position: relative;
    width: 230px;
    height: 30px;
    margin-bottom:30px;
}


footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #808080;
    text-align: center;
    color:#000;
}
.editedBy{
    font-size:.8em;
    margin-top:40px;
    margin-bottom:-40px;
    
}
