@model LMS_Project.ViewModels.UploadDocumentVM

@{
    ViewBag.Title = "Upload a Document for Myself";
}

<h2>Upload a Document for myself</h2>

@using (Html.BeginForm("UploadDocumentForMyself", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)

    @Html.Partial("_UploadDocument", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
