@model LMS_Project.ViewModels.UploadDocumentVM

@{
    ViewBag.Title = "Submit an Assignment";
}

<h2>Submit an Assignment</h2>

@using (Html.BeginForm("UploadDocumentForAssignments", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)

    @Html.Partial("_UploadDocument", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
