@model IEnumerable<LMS_Project.Models.LMS.Classroom>

@{
    ViewBag.Title = "Classrooms";
}

<h2>Classrooms</h2>

<p>
    @Html.ActionLink("Create a new Classroom", "Create")
</p>
<div class="form-horizontal"
     ng-app="classroom"
     ng-controller="classroomsController"
     ng-init="getClassrooms()">
    <table class="table" my-start-waiting>
        <thead>
            <tr>
                <th>
                    <p ng-click="orderBy('Name')">Name</p>
                </th>
                <th>
                    <p ng-click="orderBy('Location')">Location</p>
                </th>
                <th>
                    <p ng-click="orderBy('AmountStudentsMax')">Amount max of Students</p>
                </th>
                <th>
                    <p ng-click="orderBy('Remarks')">Remarks</p>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="classroom in classrooms | orderBy:propertyName:reverse"
                my-test-end-waiting>
                <td>
                    {{classroom.Name}}
                </td>
                <td>
                    {{classroom.Location}}
                </td>
                <td>
                    {{classroom.AmountStudentsMax}}
                </td>
                <td>
                    {{classroom.Remarks}}
                </td>
                <td>
                    <span ng-show="classroom.IsEditable">
                        <a data-ng-href="/Classrooms/Edit/{{classroom.ID}}">Edit</a> |
                    </span>
                    <a data-ng-href="/Classrooms/Details/{{classroom.ID}}">Details</a>
                    <span ng-show="classroom.IsEditable">
                        | <a data-ng-href="/Classrooms/Delete/{{classroom.ID}}">Delete</a>
                    </span>
                </td>
            </tr>
        </tbody>

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularclassrooms")
}
