@using LMS_Project.Models.LMS
@using LMS_Project.Repositories
@using LMS_Project.ViewModels

@model DetailedScheduleVM

@{
    ViewBag.Title = "Detailed Schedule";
}

<h2>Detailed Schedule</h2>

@Html.Partial("_DetailedSchedule")