@using LMS_Project.Models.LMS
@using LMS_Project.Repositories
@using LMS_Project.ViewModels

@model DetailedScheduleVM

@{
    ViewBag.Title = "Next Lecture";
}

<h2>Next Lecture</h2>

@if (Model.Schedule == null)
{
    <p class="alert-info">You don't have any more lectures for today.</p>
}
else
{
    @Html.Partial("_DetailedSchedule")
}